#headshot {
  /* margin: 40px 0px 0px 0px; */
  /* border: 7px solid #808080; */
  /* border-radius: 20px; */
  height: 250px;
  width: 160px;
}

.project-img {
  height: 300px;
}

header {
  background: url('https://www.sciencenewsforstudents.org/sites/default/files/scald-image/1180_CCC_ocean_acidification_rev.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

#contact-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#textbox {
  background-color: #fff;
  color: #000;
  height: 200px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
}

#modal-text {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#contact-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

a,
a:hover {
  text-decoration: none;
}

.fas,
.fab {
  font-size: 50px;
  padding: 5px;
}

.fa-envelope-square {
  color: rgb(141, 25, 25);
}

.fa-linkedin {
  color: rgb(51, 123, 246);
}

.fa-github {
  color: black;
}
