body {
  background-color: #333;
}

#headshot {
  height: 300px;
  width: 210px;
  margin-top: 10%;
  /* border: 3px solid #777; */
  border-radius: 5px;
}

.container {
  text-align: center;
  color: #fff;
}

.project-img {
  width: 100%;
  height: auto;
}

header {
  background: url('https://cdn.mos.cms.futurecdn.net/sYGVH9XWiB85hzV22gBhpd-1200-80.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.fas,
.fab {
  font-size: 50px;
  padding: 5px;
}

.fa-phone-square {
  color: #92c644;
}

.fa-envelope-square {
  color: #6d0b94;
}

.fa-linkedin {
  color: #337bf6;
}

.fa-github {
  color: #999;
}

embed {
  width: 100%;
  height: 500px;
  outline: 1px solid #fff;
}

#top {
  margin: 6px;
}

section {
  margin-top: 50px;
}

.header {
  text-decoration: underline;
}
