body {
  background-color: #333;
}

header {
  background: url('https://cdn.mos.cms.futurecdn.net/sYGVH9XWiB85hzV22gBhpd-1200-80.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header {
  text-decoration: underline;
}

#headshot {
  height: 250px;
  width: auto;
  margin-top: 10%;
  border: 3px solid #777;
  border-radius: 5px;
}

.container {
  text-align: center;
  color: #fff;
}

section {
  margin-top: 50px;
}

.project-info {
  margin-top: 50px;
}

.project-img {
  max-height: 500px;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.fas,
.fab {
  font-size: 50px;
  padding: 5px;
}

.fa-phone-square {
  color: #92c644;
}

.fa-envelope-square {
  color: #6d0b94;
}

.fa-linkedin {
  color: #337bf6;
}

.fa-github {
  color: #999;
}

#resume {
  margin-top: 50px;
}

embed {
  width: 100%;
  height: 500px;
  outline: 1px solid #fff;
}

.project {
  color: #fff;
}

.disclaimer {
  font-style: italic;
}

@media (min-width: 500px) {
  #headshot {
    height: 300px;
    width: auto;
    margin-top: 10%;
    border: 3px solid #777;
    border-radius: 5px;
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 25px;
  }

  section {
    display: flex;
    margin-top: 50px;
  }

  .project-info {
    margin-top: 50px;
  }

  #zfh-img {
    height: 400px;
    width: auto;
  }

  embed {
    width: 100%;
    height: 700px;
    outline: 1px solid #fff;
  }

  #send {
    margin-bottom: 20px;
  }
}
